/* Day.css */

/* Day Tile Styles */
.day-tile {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
}

.day-title {
  color: #333;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* Progress Bar Styles */
.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ccc;
  position: relative;
  margin-top: 10px;
}

.progress {
  height: 100%;
  background-color: green;
}

/* Task Container Styles */
.task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Task Styles */
.task {
  margin: 20px 0;
  text-align: center;
  display: flex;
  align-items: center;
}

.task-logo {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.task-title {
  color: #333;
  font-size: 1.2rem;
  padding: 10px;
}

.detail-btn {
  background-color: orangered;
  text-decoration: none;
  color: white;
  border-radius: 1rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-left: auto;
}

.detail-btn:hover {
  background-color: orange;
}

.detail-btn.completed {
  background-color: green;
  cursor: not-allowed;
}

/* Day Complete Message Styles */
.day-complete-message {
  color: green;
  text-align: center;
  margin-top: 10px;
}
