
.day-tile {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px; 
  padding: 20px; 
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
}

.day-tile.expanded {
  background-color: #f0f0f0; 
}

.day-title {
  color: #333;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* Card Styles */
.card-wrapper {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 80px;
  margin: 20px 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc(50% - 10px);
}
.card-container {
  display: flex;
  justify-content: space-between;
}


.card-img {
  display: block;
  height: 200px; 
  width: 100px; 
  margin-bottom: 10px;
}

.card-title {
  color: #333;
  font-size: 1.2rem;
}

.detail-btn {
  background-color: orangered;
  text-decoration: none;
  color: white;
  border-radius: 1rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: auto; 
}

.detail-btn:hover {
  background-color: orange;
}

.detail-btn.completed {
  background-color: green;
  cursor: not-allowed;
}

/* Day Complete Message */
.day-complete-message {
  color: green;
  text-align: center;
  margin-top: 10px;
}
