.meditation-container {
  background-image: url('../../Assets/Images/meditatingBackground.gif');
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
  background-color: #082939;
  width: 100vw;
  height: 100vh;
  display: flex;
    justify-content: center;
    align-items: center;
}

.transparent-button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  /* Remove the default focus outline */
}

.transparent-button.hidden {
  display: none;
}