.gratitude-container {
  background-image: url('../../Assets/Images/GratitudeFeature.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #082939;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}